.servicesContainer{
    background-color: rgba(4, 17, 202, 0.1);
    width: 100%;
    height: 800px;

    position: relative;

    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */

    padding: 2%;
}

.serviceText{
    width: 100%;
    height: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceText h1{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.servicesCards{
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
}