.videoContainer{
    display:flex;

    align-items: center;
    justify-content: center;

    position: relative;
}

.videoSombra{
    position: absolute!important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 1; */
    background: rgba(0,0,0,.4);
}

.videoTexto{
    margin-bottom: 30px;
    position: absolute;
    z-index: 1;
    color: #fff;
}

.video{
    width: 100%;
}